includes:
    - phpstan-baseline.neon

parameters:
    phpVersion: 80400
    level: 5
    paths:
        - app
        - plugins
    bootstrapFiles:
        - vendor/codeigniter4/framework/system/Test/bootstrap.php
    excludePaths:
        - app/Views/*
        - '*/Database/Migrations/*'
    universalObjectCratesClasses:
        - CodeIgniter\Entity\Entity
